{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "modules": false
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "examples": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "loose": false,
          "modules": "commonjs",
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
